In [51]:
import pandas as pd
import numpy as np

In [52]:
 social_node = pd.read_csv('social_node.csv', dtype=np.string_)

In [53]:
rng = np.random.default_rng()
df = pd.DataFrame(rng.integers(10000000,99999999,size=(16,1)), columns = ['Code'])

In [54]:
social_node['Code'] = df

In [55]:
social_node.tail()

,Code,createdDate,ownerFCode_id,ownerPCode_id,previousCode_id,whoIsOwner_id,filename
11,45412949,2020-06-15 00:14,686586725,42,NaN,user21,파일: 직업분류.docx
12,11490922,2020-06-15 00:43,686586725,42,NaN,user20,"파일: 이동가능성, 아비투스.docx"
13,16434318,2020-06-16 12:13,686586725,42,NaN,user9,파일: 계층론6조 자료.zip
14,55418160,2020-06-16 12:58,686586725,42,NaN,user9,파일: 계층론 계급지도 발표 자료.pdf
15,42030760,2020-06-16 14:30,686586725,42,NaN,user9,파일: 계층론 계급지도 발표 자료.pdf

In [56]:
social_node.head()

,Code,createdDate,ownerFCode_id,ownerPCode_id,previousCode_id,whoIsOwner_id,filename
0,81823264,2020-04-07 16:41,686586725,42,NaN,user21,파일: 사회계층론 4주차 6그룹 회의록.docx
1,81219120,2020-05-05 19:16,686586725,42,NaN,user20,"파일: 그룹6 회의록 (4월28일, 5월5일).docx"
2,66363004,2020-06-14 16:05,686586725,42,NaN,user17,파일: KCI_FI001822530.pdf
3,76090087,2020-06-14 16:09,686586725,42,NaN,user18,파일: 2018 한국의 직업정보.pdf
4,38829062,2020-06-14 16:10,686586725,42,NaN,user18,파일: kyobo_10083324.pdf

In [57]:
df2_for_prev = df.copy()

In [58]:
df2_for_prev = df2_for_prev.drop(15)

In [59]:
null_data = pd.DataFrame({'Code':['null']})

In [60]:
null_data

   Code
0  null

In [61]:
df2_for_prev.tail()

        Code
10  96614555
11  45412949
12  11490922
13  16434318
14  55418160

In [62]:
null_data = null_data.append(df2_for_prev, ignore_index=True)

In [63]:
null_data.columns = ['previousCode_id']

In [64]:
null_data

   previousCode_id
0             null
1         81823264
2         81219120
3         66363004
4         76090087
5         38829062
6         42246728
7         69773423
8         46486823
9         89333388
10        96328197
11        96614555
12        45412949
13        11490922
14        16434318
15        55418160

In [65]:
social_node['previousCode_id'] = null_data

In [66]:
social_node.head()

,Code,createdDate,ownerFCode_id,ownerPCode_id,previousCode_id,whoIsOwner_id,filename
0,81823264,2020-04-07 16:41,686586725,42,null,user21,파일: 사회계층론 4주차 6그룹 회의록.docx
1,81219120,2020-05-05 19:16,686586725,42,81823264,user20,"파일: 그룹6 회의록 (4월28일, 5월5일).docx"
2,66363004,2020-06-14 16:05,686586725,42,81219120,user17,파일: KCI_FI001822530.pdf
3,76090087,2020-06-14 16:09,686586725,42,66363004,user18,파일: 2018 한국의 직업정보.pdf
4,38829062,2020-06-14 16:10,686586725,42,76090087,user18,파일: kyobo_10083324.pdf

In [67]:
userid = pd.DataFrame(social_node['whoIsOwner_id'])

In [68]:
userid.head()

  whoIsOwner_id
0        user21
1        user20
2        user17
3        user18
4        user18

In [69]:
userid = userid['whoIsOwner_id'].str.replace('user','')

In [70]:
userid = pd.to_numeric(userid)

In [71]:
userid = userid+17

In [72]:
userid

0     38
1     37
2     34
3     35
4     35
5     37
6     35
7     26
8     26
9     26
10    36
11    38
12    37
13    26
14    26
15    26
Name: whoIsOwner_id, dtype: int64

In [73]:
social_node['whoIsOwner_id'] = userid

In [74]:
social_node.head()

,Code,createdDate,ownerFCode_id,ownerPCode_id,previousCode_id,whoIsOwner_id,filename
0,81823264,2020-04-07 16:41,686586725,42,null,38,파일: 사회계층론 4주차 6그룹 회의록.docx
1,81219120,2020-05-05 19:16,686586725,42,81823264,37,"파일: 그룹6 회의록 (4월28일, 5월5일).docx"
2,66363004,2020-06-14 16:05,686586725,42,81219120,34,파일: KCI_FI001822530.pdf
3,76090087,2020-06-14 16:09,686586725,42,66363004,35,파일: 2018 한국의 직업정보.pdf
4,38829062,2020-06-14 16:10,686586725,42,76090087,35,파일: kyobo_10083324.pdf

In [75]:
import pymysql
from sqlalchemy import create_engine

In [76]:
ohylab_db = pymysql.connect(
        user = 'admin',
        passwd = 'ohylab123',
        host = 'db-fromnode.c0cxgccf3tyi.ap-northeast-2.rds.amazonaws.com',
        db = 'fromnode', 
        port = 3306,
        charset = 'utf8')

In [77]:
engine = create_engine("mysql+pymysql://admin:"+"ohylab123"+"@db-fromnode.c0cxgccf3tyi.ap-northeast-2.rds.amazonaws.com:3306/fromnode?charset=utf8", encoding='utf-8')

In [78]:
conn = engine.connect()

In [89]:
one_row = pd.DataFrame(social_node.loc[[0]])
one_row['previousCode_id'] = 96910359

In [90]:
one_row.head()

,Code,createdDate,ownerFCode_id,ownerPCode_id,previousCode_id,whoIsOwner_id,filename
0,81823264,2020-04-07 16:41,686586725,42,96910359,38,파일: 사회계층론 4주차 6그룹 회의록.docx

In [91]:
one_row.to_sql(name = 'NodeApp_nodes', con=engine, if_exists ='append', index=False)

In [94]:
social_node = social_node.drop(social_node.index[0])

In [95]:
social_node.to_sql(name = 'NodeApp_nodes', con=engine, if_exists ='append', index=False)

In [101]:
 social_comment = pd.read_csv('social_comment.csv', dtype=np.string_)

In [102]:
social_comment.to_sql(name = 'NodeApp_node_comment', con=engine, if_exists ='append', index=False)

In [103]:
social_notice = pd.read_csv('social_notice.csv', dtype=np.string_)

In [104]:
social_notice.to_sql(name = 'FileApp_board', con=engine, if_exists ='append', index=False)